@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&family=Yeseva+One&display=swap');

:root {
    --primary-color: #303238;
    --secondary-color: #7183ab;
    --accent-1: #e1e7eb;
    --accent-2: #ffffff;

    --heading-font: 'Yeseva One', cursive;
    --paragraph-font: 'Work Sans', sans-serif;
}


/* Basic Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);

}

p {
    font-family: var(--paragraph-font);
}

body {
    color: var(--primary-color);
    background-color: var(--accent-2);
}



/* header styles */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr auto;
    text-align: center;
    justify-content: center;
    column-gap: 2px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

header img {
    width: 100%;
    max-width: 200px;
    grid-area: 1/1/2/3;
}

header h1 {
    grid-area: 1/3;
    color: var(--accent-1);
}

nav {
    grid-area: 2/1/3/4;
    display: inline;
}

nav ul li a {
    list-style: none;
    color: var(--accent-1);
    text-decoration: none;
}

nav ul li a:visited {
    color: var(--accent-1);
}

