main {
    align-content: center;
    text-align: center;
    justify-content: center;
}

.directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.directory section {
    margin: 20px;
}

main section img {
    border-radius: 20px;
}

