:root {
    --primary-color: #303238;
    --secondary-color: #7183ab;
    --accent-1: #e1e7eb;
    --accent-2: #ffffff;
}

main {
    align-content: center;
    text-align: center;
    justify-content: center;
    display: block;
}

.directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.directory section {
    margin: 20px;
}

main section img {
    border-radius: 20px;
}

.dirlist {
    display: block;
}

.dirlist section{
    display: block;
    text-align: center;
    border: none;
    border-radius: 0;
} 

.dirlist img{
    width: 20%;
}

.dirlist section:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}

.dirlist section:nth-child(9){margin-bottom: 25px;}

#btnContainer{
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.btn {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 10px 50px;
    background-color: var(--secondary-color);
    text-transform: uppercase;
  }

.btn:hover {
    background-color: var(--primary-color);
    color: var(--accent-1);
  }

.btn.active{
    color: var(--accent-2);
    background-color: var(--primary-color);
    font-weight: 600;
}


