@media only screen and (min-width: 780px) {
    
    /* ----------Large Header Style---------- */
    header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        padding: 0%;
    }

    header img.logo-img {
        margin: 0;
        max-width: 100px;
        grid-area: 1/1/2/2;
    }

    header h1 {
        grid-area: 1/2/2/3;
    }
    
    header nav {
        grid-area: 4/1/5/4;
        margin: 0;
        padding: 5px 0 5px 0; 
        width: 100%;
        text-align: right;
        background-color: var(--secondary-color);
    }

    header p.headerdate {
        grid-area: 2/1/3/4;
        margin: 0;
        font-size: 0.6em;
    }
    header #pmeetandgreet {
        grid-area: 3/1/4/4;
        margin: 0 0 10px 0;
        font-size: 0.8em;
    }
    
    nav ul li {
        list-style: none;
        margin: 0;
        padding: 0 0 0 40px;
    }

    ul li a {
        padding: 0 5px;
    }

    nav ul li a#open-tab {
        padding: 5px 10px;
    }

    nav ul li a:hover {
        padding: 5px;
        border-radius: 0;
        transition: none;
    }

    nav ul, nav.open {
        display: inline-flex;
        padding: 0;
        margin: 0;
    }

    #hamburgerBtn {
        margin: 0;
        padding: 0;
        font-size: 0%;
        display: none;
    }

    #hamburgerBtn span:nth-child(1),
    #hamburgerBtn span:nth-child(2),
    #hamburgerBtn.open span:nth-child(1),
    #hamburgerBtn.open span:nth-child(2) {display: none;}



    /* ---------- Large Main styles---------- */
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 95%;
    }

    main section {
        min-height: 1em;
    }
    
    #cta {
        grid-area: 1/2/3/4;
        min-height: 1em;
    }
    
    #news {
        grid-area: 3/2/4/4;
    }
    
    #events {
        grid-area: 1/1/2/2;
    }
    
    #weather {
        grid-area: 2/1/3/2;
    }

    #join {
        grid-area: 3/1/4/2;
    }
    
    #spotlight-box {
        grid-area: 1/4/4/5;
        display: block;
        align-items: center;
        width: 100%;
        padding: 2px 0;
        border-radius: 20px;
    }
    
    .spotlight {
        background-color: var(--secondary-color);
        width: 98%;
        min-height: 1em;
        margin: 0;
        padding: 0;
        border-radius: 20px;
        border: none;
    }
    
    
}