@media only screen and (max-width: 900px) {
    h1 {
        font-size: 10px;
    }
    header, .header {
        display: block;
        align-items: center;
        align-content: center;
        text-align: center;
    }
}